@using BancoAppWeb.Models.Todolist;
@model ViewModelTask

<div>
    @Html.ActionLink("Back to list", "IndexTodoList", "Api")
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col ">
                <div class="fs-1">
                    @Model.name
                </div>
                <div class="fs-6 fst-italic">
                    @Model.description
                </div>
            </div>
            <div class="col-1 d-flex align-items-center" style="width: 106px;">
                <a class="btn btn-outline-primary" href="@Url.Action("edit", "todolist", new { id = Model.Id })">edit</a>
                @Html.ActionLink("Remove", "DeletList", "Api", new { id = Model.Id},
                new { onclick = "return confirm('Are sure wants to delete?');" })
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var task in Model.dtolisttask)
        {

            <li class="list-group-item">
                <div class="@(task.IsComplete ? "row complete" : "row not__complete")">
                    <div class="col-1 px-3 text-danger d-flex align-items-center" style="width: 44px;">
                        @for (var i = 0; i < task.Priority; i++)
                        {
                            <span class="fas fa-exclamation"></span>
                        }
                    </div>
                    <div class="col">
                        @task.Description
                    </div>
                    <div class="col-1 d-flex align-items-center" style="width: 106px">

                        @using (Html.BeginForm("CompleteTask", "Api", new { listId = task.TodoListId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button class="btn btn-outline-success" type="submit" name="Id" value="@task.Id" data-todolist-id="@Model.Id">
                                done
                            </button>
                        }

                        @Html.ActionLink("Remove", "Delettask", "Api", new { id = task.Id },
                    new { onclick = "return confirm('Are sure wants to delete?');" })
                    </div>
                </div>
            </li>
        }
    </ul>
    <form method="POST" action="@Url.Action("CreateTask", "Api", new {id = Model.Id})">
        <div class="input-group mt-3">
        <input type="text" placeholder="Add a task" name = "Description" aria-label="Add a task" aria-describedby="button-add-task">
        <select class="Priority" id="Priority" name="Priority">
            <option value="1">Low Priority</option>
            <option value="2" selected>Normal Priority</option>
            <option value="3">High Priority</option>
        </select>
        <button type="submit" >Add</button>
        </form>
    </div>
</div>

