@using BancoAppWeb.Models.ViewModel;
@using User.Data.Entityes;
@using User.Data.Models;
@{
    @model ViewModelDashboard;
    ViewData["Title"] = "Dashboard";
    var mytransactions = @Model.LastTransac;

}


<!DOCTYPE htmlA>
<html>


<body>

    <div class="sidebar">
        <a href="@Url.Action("Index", "Dashboard", new { UID = @Model.idUser, timeFrame = TimeFrame.Weekly }))">Dashboard</a>
        <a href="@Url.Action("Index", "Transaction", new { UID = @Model.idUser, transactionType = TransactionType.all })">Transactions</a>
        <a href="@Url.Action("AddIncome", "Transaction", new {uid = Model.idUser})">Add Income</a>
        <a href="@Url.Action("AddExpense", "Transaction", new {uid = Model.idUser})">Add Expense</a>

    </div>
    <div class="content">
        <h1>Dashboard</h1>
        <h1>User Name:@Model.Fname @Model.Lname</h1>

        <div class="box green">
            <p>Incomes</p>
            <p>€@Model.income</p>
        </div>
        <div class="box red">
            <p>Expense</p>
            <p>€@Model.expense</p>
        </div>
        <div class="box black">
            <p>Balance</p>
            <p>€@Model.balance</p>
        </div>
        <div class="transaction-listDash">
            <div class="transaction-header">
                <p class="dateA">Date</p>
                <p class="descriptionA">Description</p>
                <p class="valueA">Value</p>
                <p class="actionA">Action</p>
            </div>
            <ul class="transaction-items">
                @foreach(var transacti in @mytransactions)
                {
                <li class="transaction-item">
                    <p class="dateA">@transacti.Created</p>
                    <p class="descriptionA">@transacti.Description</p>
                    <p class="valueA">@transacti.Value</p>
                    <p class="actionA">
                        <a href="#">Download</a>
                            <a href="@Url.Action("EditTransaction", "Transaction", new { modelid = transacti.Id })">Edit</a>
                            @Html.ActionLink("Remove", "RemoveTransaction", "Dashboard", new { Id = transacti.Id },
                        new { onclick = "return confirm('Are sure wants to delete?');" })          
                    </p>
                </li>
                }
                <!-- adicione mais itens de transação aqui -->
            </ul>
        </div>
    </div>
</body>
</html>