@using BancoAppWeb.Models.ViewModel;
@using User.Data.Entityes;
@using User.Data.Models;
@{
    @model ViewModelTrasaction;
    ViewData["Title"] = "Transactions";
    var transacts = @Model.Transactions;
    var uid = @Model.UID;

}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<bodyA>
    <div class="sidebarA">
        <a href="@Url.Action("Index", "Dashboard", new { UID = Model.UID, timeFrame = TimeFrame.Weekly }))">Dashboard</a>
        <a href="@Url.Action("Index", "Transaction", new { UID = Model.UID, transactionType = TransactionType.all })">Transactions</a>
        <a href="@Url.Action("AddIncome", "Transaction", new {uid = Model.UID})">Add Income</a>
        <a href="@Url.Action("AddExpense", "Transaction", new {uid = Model.UID})">Add Expense</a>
    </div>
    <div class="contentA">
        <h1>Transactions</h1>
        <div class="filter-buttonsA">
            <a class="income-buttonA" href="@Url.Action("Index", "Transaction", new { UID = uid, transactionType = TransactionType.Income })">Income</a>

            <a class="expense-buttonA" href="@Url.Action("Index", "Transaction", new { UID = uid, transactionType = TransactionType.Expense })">Expense</a>
        </div>
        <ul class="transactions-listA">
            <li class="list-headerA">
                <span class="dateA">Data</span>
                <span class="descriptionA">Descrição</span>
                <span class="valueA">Valor</span>
                <span class="actionA">Ação</span>
            </li>
            @foreach (var transacti in transacts)
            {
                <li class="transaction-item">
                    <p class="dateA">@transacti.Created</p>
                    <p class="descriptionA">@transacti.Description</p>
                    <p class="valueA">@transacti.Value</p>
                    <p class="actionA">
                        <a class ="downloadA" href="#" >Download</a>
                        <a class="editA" href="@Url.Action("EditTransaction", "Transaction", new { modelid = transacti.Id })">Edit</a>

                        @Html.ActionLink("Remove", "RemoveTransaction", "Dashboard", new { Id = transacti.Id },
                    new { onclick = "return confirm('Are sure wants to delete?');" })
                    </p>
                </li>
            }
            <!-- mais itens da lista aqui... -->
        </ul>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</bodyA>
</html>